<h1>I'm the jobs#index page</h1>

<% if policy(Job).new? %>
  <%= link_to 'Add a new job button', new_job_path %>
<% end %>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= job.company_name %>
      <%= job.agency %>
      <%= job.position %>
      <%= job.location %>
      <%= job.currency %>
      <%= job.salary_low %>
      <%= job.salary_high %>
      <%= job.date_applied %>
      <%= job.status %>
      <%= job.url %>
      <%= job.notes %>
    </li>
  <% end %>
</ul>
